{% extends 'base/base.html' %} 
{% block title %}  {{ title }} {% endblock %}

{% block barra %}
<div class="navbar-nav w-100">
    <a href="{{ url_for('index') }}" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Inicio</a>
    <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Tickets</a>
        <div class="dropdown-menu bg-transparent border-0">
            <a href="{{ url_for('entradas') }}" class="dropdown-item">Entradas</a>
            <a href="{{ url_for('salidas') }}" class="dropdown-item">Salidas</a>
        </div>
    </div>
    <a href="{{ url_for('tarifas') }}" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Tarifas</a>
    <a href="{{ url_for('usuarios') }}" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Usuarios</a>
</div>         
{% endblock %}


{% block content %}

{% from "_macro.html" import render_field %}
<div class="col-12">
    <div class="bg-light rounded h-100 p-4">
        <h3 class="mb-4">Salidas</h3>
        <form action="{{ url_for('ticSalida')}}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Codigo de Entrada</label>
                <div class="col-sm-10">
                    <input type="number" name="codigo" class="form-control" id="inputEmail3" required>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Hora de Salida</label>
                <div class="col-sm-10">
                    <input type="datetime-local" name="salida" class="form-control" id="inputEmail3" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Pagar</button>
        </form>
    </div>
</div>

{% endblock %}