{% extends 'base/base.html' %} 
{% block title %}  {{ title }} {% endblock %}

{% block barra %}
<div class="navbar-nav w-100">
    <a href="{{ url_for('index') }}" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Inicio</a>
    <a href="{{ url_for('superusuarios') }}" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Usuarios</a>
</div>         
{% endblock %}

{% block content %}

    {% from "_macro.html" import render_field %}

    <div class="container-fluid pt-4 px-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h3 class="mb-4">Estacionamiento</h3>
                 <form action="" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Estacionamiento:</label>
                        <div class="col-sm-10">
                            <select class="form-select mb-3" aria-label="Default select example" name="estacionamiento"  required>
                                <option value="" disabled selected>Selecciona un estacionamiento</option>
                                {% for estacionamiento in estacio %}
                                    <option value="{{ estacionamiento.estacionamiento }}">{{ estacionamiento.estacionamiento }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary m-2">Buscar</button>
                </form>
            </div>
        </div>
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h3 class="mb-4">Tarifa</h3>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Tolerancia</th>
                                <th scope="col">Primeras 2 horas</th>
                                <th scope="col">Hora extra</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ tari.tolerancia }}</td>
                                <td>{{ tari.primerasDos }}</td>
                                <td>{{ tari.extra }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h3 class="mb-4">Tickets</h3>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Encargado</th>
                                <th scope="col">Entrada</th>
                                <th scope="col">Salida</th>
                                <th scope="col">Costo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for tic in ticket:%}
                            <tr>
                                <td>{{ tic.id }}</td>
                                <td>{{ tic.encargado }}</td>
                                <td>{{ tic.entrada }}</td>
                                <td>{{ tic.salida }}</td>
                                <td>{{ tic.costo }}</td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
    </div>

{% endblock %}